:root {
  --window-bg: #282828;
  --window-fg: #fff;
  --main-bg: #707070;
  --menu-bar-bg: #ccc;
  --menu-bar-fg: #000;
  --menu-bar-hover-bg: var(--main-bg);
  --menu-bar-hover-fg: #fff;
  --buttons-grid-bg: #505050;
}
