@import "utils/functions";

html,
body,
body * {
	font-family: 'Comfortaa';
}

body, body * {
	font-size: 14px;
}

p {
	display: inline-block;
	margin: 0;
	width: fit-content;
	height: fit-content;
}

body,
body *,
body *::after,
body *::before {
	outline: none;

	.block-text-select();
}

input[type="range"] {
	margin: 0;
}

// If we want to overwrite this, we need to specify the html element too
// (e.g. "button.coolbutton" instead of ".coolbutton")
input[type="button"]:not(.default),
button:not(.default) {
	border: none;
	background-color: #fff;
	color: #000;
}

// TODO
/*input::selection {
	background-color: #3a4a61;
}*/