// @import "debug";
@import "functions";

body {
	.block-text-select();

	background-color: var(--window-bg);
	color: var(--window-fg);

	padding: 10px; // .625em

	#soundboard {
		@main-radius: 10px;

		.fill-size();

		display: flex;
		flex-direction: column;
		align-items: stretch;

		.set-radius(@main-radius);

		.hide-overflow();

		background: linear-gradient(0, var(--main-bg) 50%, var(--menu-bar-bg) 50%);

		nav {
			display: flex;
			flex-direction: row;

			@margin: 3px;
			margin: @margin (@main-radius + 1px) 0;

			div {
				color: var(--menu-bar-fg);
				font-size: .8rem;
				font-weight: 600;

				padding: (@margin + 1) 10px (@margin - 1);

				.set-radius(@main-radius @main-radius 0 0);

				&:hover {
					color: var(--menu-bar-hover-fg);
					background-color: var(--menu-bar-hover-bg);
					box-shadow: 0 1px 2px 1px var(--menu-bar-hover-bg);
				}
			}
		}

		#main-container {
			flex-grow: 1;
			.set-radius(@main-radius);

			background-color: #707070;
			padding: (@main-radius / 2);

			main {
				.fill-size();

				display: flex;
				flex-direction: column;
				align-items: stretch;

				background-color: #707070;

				@import "./components/buttons_grid.less";

				#audio-controls {
					flex-grow: 1;
					.hide-overflow();

					align-content: center;

					>* {
						width: fit-content;
						height: fit-content;
					}

					#stop-audio {
						border: none;
						background-color: rgb(187, 0, 0);
						color: #fff;
						.hide-overflow();

						display: inline-flex;
						align-items: center;
						justify-content: center;

						border-radius: 50%;
						min-width: 30px;
						width: 30px;
						min-height: 30px;
						height: 30px;
					}

					#play-pause-audio {
						border: none;
						background-color: rgb(0, 187, 0);
						color: #fff;
						.hide-overflow();

						display: inline-flex;
						align-items: center;
						justify-content: center;

						border-radius: 50%;
						min-width: 30px;
						width: 30px;
						min-height: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}