// @import "debug";
@import "functions";

body {
	background-color: var(--window-bg);
	color: var(--window-fg);

	padding: 10px; // .625em

	#soundboard {
		@main-radius: 10px;

		.fill-size();

		display: flex;
		flex-direction: column;
		align-items: stretch;

		.set-radius(@main-radius);

		.hide-overflow();

		// "Fixes" the chromium bug with rounded corners cropping children's ones
		background: linear-gradient(0, var(--main-bg) 50%, var(--menu-bar-bg) 50%);

		nav {
			display: flex;
			flex-direction: row;

			z-index: 1;

			@margin: 3px;
			margin: @margin (@main-radius + 1px) 0;

			div {
				color: var(--menu-bar-fg);
				font-size: .8rem;
				font-weight: 600;

				padding: (@margin + 1) 10px (@margin - 1);

				.set-radius(@main-radius @main-radius 0 0);

				&:hover {
					color: var(--menu-bar-hover-fg);
					background-color: var(--menu-bar-hover-bg);
					// box-shadow: 0 1px 2px 1px var(--menu-bar-hover-bg);
				}
			}
		}

		#main-container {
			flex-grow: 1;
			.set-radius(@main-radius);

			background-color: #707070;
			padding: (@main-radius / 2);

			z-index: 0;

			main {
				.fill-size();

				display: flex;
				flex-direction: column;
				align-items: stretch;

				background-color: #707070;

				@import "./components/buttons_grid.less";

				#audio-controls {
					@btn-size: 30px;
					@radius: 10px;
					@h: 0;
					@s: 0;
					@l: 0;
					@hsl: hsl(@h, @s, @l);
					@hsl-middle: hsl(@h, @s, @l + 5%);
					@hsl-bright: hsl(@h, @s, @l + 10%);
					@hsl-dark: hsl(@h, @s, @l - 10%);
					@hsl-normal: @hsl;
					// @hsl-hover: inset @hsl-bright 0 -25px 10px -10px;
					@hsl-hover: @hsl-bright;
					@hsl-active: @hsl-middle;

					button {
						transition: background-color .1s ease;
					}

					flex-grow: 0;
					.hide-overflow();

					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;

					#stop-audio {
						@h: 0;
						@s: 100%;
						@l: 37%;

						border: none;
						background-color: @hsl-normal;
						color: #fff;
						.hide-overflow();

						display: inline-flex;
						align-items: center;
						justify-content: center;

						border-radius: @radius;
						width: @btn-size;
						height: @btn-size;

						&:hover {
							background-color: @hsl-hover;
						}

						&:active {
							background-color: @hsl-active;
						}

						&:disabled {
							background-color: @hsl-dark
						}
					}

					#play-pause-audio {
						@h: 120;
						@s: 100%;
						@l: 37%;

						border: none;
						background: @hsl-normal;
						color: #fff;
						.hide-overflow();

						display: inline-flex;
						align-items: center;
						justify-content: center;

						border-radius: @radius;
						width: @btn-size;
						height: @btn-size;

						&:hover {
							background-color: @hsl-hover;
						}

						&:active {
							background-color: @hsl-active;
						}

						&:disabled {
							background-color: @hsl-dark
						}
					}

					#reset-ui-scale {
						@h: 0;
						@s: 0%;
						@l: 16%;

						border: none;
						background: @hsl-normal;
						color: #fff;
						.hide-overflow();

						// padding: 0 10px;

						display: inline-flex;
						align-items: center;
						justify-content: center;

						border-radius: 50px;
						min-width: @btn-size;
						min-height: @btn-size;

						&:hover {
							background-color: @hsl-hover;
						}

						&:active {
							background-color: @hsl-active;
						}

						&:disabled {
							background-color: @hsl-dark
						}

						// i {
						// 	margin-right: 3px;
						// }
					}
				}
			}
		}
	}
}

// TODO: boh
// @media (prefers-reduced-motion: reduce) {
// 	*, *::after, *::before {
// 		transition: none !important;
// 	}
// }