@import "utils/debug";
@import "utils/functions";
@import "utils/variables";

body {
	color: var(--window-fg);

	padding: 10px; // .625em

	transition-property: background-color;
	transition-duration: 0.25s;
	transition-timing-function: linear;

	#soundbutton-editor {
		.fill-size();

		transition-property: opacity;
		transition-duration: 0.25s;
		transition-timing-function: ease-out;

		display: grid;
		grid-template-rows: 1fr 2fr auto;
		grid-template-columns: 100%;

		#soundbutton-preview {
			grid-row: 1 / 2;
		}

		// TODO: flex
		form#metadata-editor {
			grid-row: 2 / 3;

			// display: inline-block;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-start;

			div {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: baseline;
				padding: 5px;
				flex-grow: 0;
				gap: 1ch;
				// flex-basis: 1;
			}

			input#button-data-title {
				min-width: 0;
				width: 80%;
			}

			div.color {
				align-items: center;

				input#button-data-color {
					// Remove webkit padding
					border: 0;

					padding: 4px;
					min-height: 1rem;

					// Color swatch container
					&::-webkit-color-swatch-wrapper {
						padding: 0;
						border: 0;
					}

					// Chosen color
					&::-webkit-color-swatch {
						padding: 0;
						border: 0;

						// width: 100%;
						// height: 100%;
					}
				}
			}

			input#button-data-path {
				flex-grow: 1;
			}

			// Hidden file picker for functionality
			input#button-path-file {
				display: none;
			}
		}

		#editor-submit {
			grid-row: 3 / 4;
		}
	}
}
