// @import "utils/debug";
@import "utils/functions";
@import "utils/variables";

body {
	color: var(--window-fg);

	padding: 10px; // .625em

	transition-property: background-color;
	transition-duration: 0.25s;
	transition-timing-function: linear;

	#soundboard {
		.fill-size();

		transition-property: opacity;
		transition-duration: 0.25s;
		transition-timing-function: ease-out;

		display: flex;
		flex-direction: column;
		align-items: stretch;

		.set-radius(@main-radius);

		.hide-overflow();

		// "Fixes" the chromium bug with rounded corners cropping children's ones
		background: linear-gradient(0, var(--main-bg) 50%, var(--menu-bar-bg) 50%);

		#main-container {
			.set-radius(@main-radius);
			.hide-overflow();

			background-color: #707070;

			z-index: 0;

			flex-grow: 1;
			display: flex;
			flex-direction: row-reverse;

			main {
				.fill-size();
				.set-radius(@main-radius);
				.hide-overflow();

				z-index: 1;

				// box-shadow: 4px 0 2px -2px rgb(0 0 0 / .5);

				padding: @main-padding;
				display: flex;
				flex-direction: column;
				align-items: stretch;

				background-color: #707070;
			}
		}
	}

	.fps_loop {
		position: absolute;
		top: 0;
		left: 0;

		width: 1px;
		height: 1px;

		background-color: var(--window-bg);

		// animation: fps_loop 1s infinite;

		@keyframes fps_loop {
			0%,
			100% {
				transform: translate(0, 0);
			}

			25% {
				transform: translate(0, 2px);
			}

			50% {
				transform: translate(2px, 2px);
			}

			75% {
				transform: translate(2px, 0);
			}
		}
	}
}

// TODO: Reduce effect if the OS decides that.
// Or.. invert the logic.
// @media (prefers-reduced-motion: reduce) {
// 	*, *::after, *::before {
// 		transition: none !important;
// 	}
// }
