@import "../utils/functions";
@import "../utils/variables";

#buttons-area {
	flex-grow: 2;
	flex-basis: 0;
	.set-radius(@main-radius);
	.hide-overflow();

	margin-bottom: 10px;

	background-color: var(--window-bg);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	#buttons-grids {
		.buttons-grid {
			background-color: var(--buttons-grid-bg);
			.set-radius(@main-radius);
			.hide-overflow();

			@grid-gap: 8px;
			display: grid;
			gap: @grid-gap;
			padding: @grid-gap;

			grid-template-rows: repeat(var(--rows), 1fr);
			grid-template-columns: repeat(var(--columns), 1fr);

			&.has-dragging-child {
				&,
				& .soundbutton {
					cursor: grabbing;
				}
			}
		}
	}
}