@import "../utils/functions";
@import "../utils/variables";

#buttons-area {
	flex-grow: 2;
	flex-basis: 0;
	.set-radius(@main-radius);
	.hide-overflow();

	margin-bottom: 10px;

	background-image: linear-gradient(
		var(--window-bg) 50%,
		var(--buttons-grid-bg) 50%
	);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	#buttons-grids {
		flex-grow: 1;
		width: 100%;

		.buttons-grid {
			width: 100%;
			height: 100%;

			background-color: var(--buttons-grid-bg);
			.set-radius(@main-radius);
			.hide-overflow();

			@grid-gap: 8px;
			display: grid;
			gap: @grid-gap;
			padding: @grid-gap;

			grid-template-rows: repeat(var(--rows), 1fr);
			grid-template-columns: repeat(var(--columns), 1fr);

			&.has-dragging-child {
				&,
				& .soundbutton {
					cursor: grabbing;
				}
			}
		}
	}
}
